.footer {
  color: var(--menuColor);
  background-color: var(--bgColor);
  border: 1px solid var(--bgBorderColor);
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 15px 35px;
}
.footer-main-title {
  font-size: 22px;
  font-weight: 400;
  color: var(--menuColor);
  border: none;
}

.footer-contact {
  margin: 15px 0;
}

.footer-contact-detail,
.footer-phone-number {
  font-size: 14px;
  color: var(--menuColor);
  font-weight: 400;
}
.footer-contact-address {
  margin: 40px 0;
}
.footer-contact-detail-address {
  font-size: 20px;
  font-weight: 700;
}

.footer-mail {
  text-decoration: underline;
}
.footer-map {
  margin-top: 20px;
}
.footer-map iframe {
  width: 100%;
  height: 204px;
}

.footer-copyright {
  margin-top: 17px;
  background-color: var(--navBg);
  text-align: center;
  padding: 22px 0;
  color: var(--whiteColor);
  font-weight: 400;
  transition: all 0.4s;
}
.copyright-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: var(--menuColor);
  text-decoration: none;
}

.copyright-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1.5px;
  background: var(--menuColor);
  transition: width 0.4s ease;
}

.footer-copyright:hover .copyright-link::after {
  width: 100%;
}

@media (max-width: 992px) {
  .footer {
    width: 100%;
    padding: 0;
  }
  .footer-map iframe {
    height: 204px;
    width: auto;
  }
  .footer-contact-address {
    margin: 10px 0;
  }
  .footer-map {
    margin: 15px auto;
  }
}
