body {
  overflow-x: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
}

p {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(121, 121, 121, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--managementTextColor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--menuColor);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(121, 121, 121, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--menuColor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--menuColor);
}

body {
  overflow-x: hidden;
  font-family: var(--fontFamilyMon);
}

p {
  margin: 0;
}

.header-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0;
}
a:focus-visible {
  border: none;
  outline: none;
}

.header-img img {
  height: 80px;
}

.header-name {
  font-weight: 400;
  font-size: 21px;
  color: var(--menuColor);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  font-family: "Nivea", sans-serif;
}

.menu-section .navbar {
  background-color: var(--navBg);
  border-radius: 20px;
}

.menu-section .nav-inner {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-section .nav-link {
  font-size: 16px;
  font-family: var(--fontNivea);
  font-weight: 700;
  color: var(--menuColor);
}

.menu-section .nav-link:hover {
  color: var(--menuColor);
}

.menu-section {
  width: 100%;
  z-index: 999;
}

.menu-section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.menu-section .navbar-collapse {
  transition: none !important;
}

.menu-section .navbar-toggler {
  margin: 0 auto;
}

.menu-section .dropdown-menu {
  border-radius: 8px;
  border: none;
  padding: 8px 0;
  margin-top: 0;
  min-width: 220px;
  background-color: var(--navBg);
  color: var(--whiteColor);
}

.menu-section .dropdown-item {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--menuColor);
  transition: all 0.3s ease;
}

.menu-section .dropdown-item:hover {
  background-color: var(--whiteColor);
  color: var(--menuColor);
  padding-left: 15px;
}

.menu-section .navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-section .nav-item {
  margin: 0 24px;
}

.menu-section .search-wrapper {
  position: relative;
}

.menu-section .search-icon {
  font-size: 18px;
  color: var(--menuColor);
  cursor: pointer;
  padding: 10px;
}

.menu-section .search-box {
  position: absolute;
  top: 54px;
  right: 0;
  background: var(--whiteColor);
  padding: 3px;
  border-radius: 8px;
  display: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.menu-section .search-box.active {
  display: block;
}
.menu-section .search-box input {
  width: 220px;
  padding: 8px 35px 8px 10px;
  border: none;
  outline: none;
}
.menu-section .search-box input::placeholder {
  font-size: 16px;
  color: var(--menuColor);
}
.menu-section .clear-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  color: var(--managementTextColor);
}
.menu-section .search-box.has-text .clear-icon {
  display: block;
}

.menu-section .navbar-toggler {
  border: none;
}

.menu-section .navbar-toggler:focus {
  box-shadow: none;
}

.menu-section .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}
.menu-section .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--menuColor);
}
@media (max-width: 1400px) {
  .menu-section .nav-item {
    margin: 0 24px;
  }
  .menu-section .nav-link {
    font-size: 14px;
  }
  .menu-section .dropdown-item {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .menu-section .nav-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-section .navbar-collapse {
    width: 100%;
  }
  .menu-section .nav-item {
    margin: 0 10px;
  }
  .menu-section .nav-link {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1024px) {
  .header-name {
    font-size: 14px;
  }

  .header-img img {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .menu-section .navbar-nav {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
  }

  .menu-section .nav-item {
    margin: 8px 0;
    width: 100%;
  }
  .menu-section .dropdown-menu {
    position: static;
    float: none;
    box-shadow: none;
    background: transparent;
  }

  .menu-section .dropdown-item {
    padding: 8px 10px;
  }

  .menu-section .search-wrapper {
    margin-top: 10px;
  }

  .menu-section .search-box {
    position: static;
    width: 100%;
    margin-top: 10px;
  }

  .menu-section .search-box input {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .menu-section .dropdown:hover .dropdown-menu {
    display: block;
  }
  .menu-section .navbar .dropdown-toggle::after {
    display: none;
  }
  .menu-section .dropdown-toggle::after {
    transition: 0.3s;
  }

  .menu-section .dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 576px) and (min-width: 480px) {
  .header-name {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .header-img img {
    height: 50px;
  }

  .header-name {
    font-size: 12px;
  }
}
