.static {
  margin: 50px 0 110px;
}
.static-content{
    margin: 0 auto;
}
@media(max-width:1200px){
  .static{
    margin: 40px 0;
  }
}

@media(max-width:992px){
  .static{
    margin: 20px 0;
  }
}