@font-face {
  font-family: "Nivea";
  src: url("../font/Nivea-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nivea";
  src: url("../font/Nivea-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
