body {
  overflow-x: hidden;
  margin: 0;
  font-family: var(--fontNivea);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.accw-menu-btn {
  bottom: 74px !important;
  top: auto !important;
  left: auto !important;
  width: 40px !important;
  height: 40px !important;
  background-color: rgba(67, 120, 255, 1) !important;
}

.accw-menu-btn svg {
  width: 30px;
  height: 30px;
  min-height: 30px;
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
  background: 0 0 !important;
}

.fixed-mail-icon {
  position: fixed;
  bottom: 125px;
  right: 15px;
  z-index: 999;
  display: inline-block;
  background-color: var(--navBg);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: 48px;
  height: 48px;
  text-align: center;
}

.progress-wrap {
  position: fixed;
  right: 16px;
  bottom: 22%;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: var(--menuColor);
  left: 0;
  top: 0;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap::before {
  position: absolute;
  font-family: "unicons";
  content: "";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background-image: linear-gradient(298deg, var(--red), var(--yellow));
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: var(--menuColor);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.news-carousel .carousel-indicators [data-bs-target] {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
/* sorgu */
/* PANEL */
.survey-panel {
  position: fixed;
  top: 120px;
  right: -320px;
  width: 300px;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 0 10px;
  transition: 0.4s ease;
  z-index: 9999;
}

.survey-panel.active {
  right: 0;
}

/* HEADER */
.survey-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6c8aa3;
  color: #fff;
  padding: 10px;
  border-radius: 10px 0 0 0;
}

.survey-header button {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/* CONTENT */
.survey-content {
  padding: 40px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.survey-content label {
  display: block;
  margin: 20px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: var(--menuColor);
}

/* BUTTONS */
.survey-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* INPUT gizlət */
.custom-radio input {
  display: none;
}

/* LABEL */
.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 8px 0;
  font-size: 14px;
}

/* CIRCLE */
.radio-mark {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #6c8aa3;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  transition: 0.3s;
}

/* INNER DOT */
.radio-mark::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #6c8aa3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
}

/* CHECKED vəziyyət */
.custom-radio input:checked + .radio-mark {
  border-color: #6c8aa3;
}

.custom-radio input:checked + .radio-mark::after {
  transform: translate(-50%, -50%) scale(1);
}
.vote-btn,
.result-btn {
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-size: 16px;
  font-weight: 700;
  background: var(--whiteColor);
  color: var(--menuColor);
}

/* .vote-btn {
  background: #6c8aa3;
  color: #fff;
}

.result-btn {
  
} */

/* TOGGLE BUTTON */
.survey-toggle {
  position: fixed;
  top: 160px;
  right: 0;
  width: 30px;
  height: 60px;
  background: var(--requestBg);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  z-index: 9998;
  transition: 0.3s;
}

.survey-toggle.active {
  right: 300px;
}
/* OVERLAY */
.survey-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.survey-overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* CENTER MODAL */
.survey-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 350px;
  background: var(--requestBg);
  border-radius: 12px;
  padding: 20px;
  z-index: 9999;
  opacity: 0;
  transition: 0.3s;
  width: 50%;
  height: 40%;
}

.survey-modal.active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.survey-text {
  font-size: 16px;
  font-weight: 700;
  color: var(--menuColor);
  background-color: var(--transitionBg);
  padding: 10px;
  border-radius: 3px;
}

/* CLOSE BUTTON */
.modal-close {
  position: absolute;
  top: 10px;
  right: 60px;
  border: none;
  background: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--menuColor);
}
/* sorgu end */
/* news */
.news-carousel {
  background-color: var(--bgColor);
  width: 80%;
  margin: 0 auto;
  border: 1px solid var(--bgBorderColor);
  border-radius: 15px;
  padding: 7px 50px 26px;
}
.news-carousel .carousel-inner {
  overflow: visible;
}

.news-carousel .carousel-box img {
  border-radius: 15px;
  width: 100%;
  height: 479px;
  object-fit: cover;
  box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.news-carousel .carousel-box {
  position: relative;
  padding-bottom: 60px;
}

.news-carousel .carousel-title {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--navBg);
  border-radius: 15px;
  color: var(--menuColor);
  width: max-content;
  min-width: 80%;
  padding: 21px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  z-index: 2;
  text-transform: uppercase;
  font-family: var(--fontNivea);
}

.news-carousel .carousel-item {
  overflow: visible;
}

.news-carousel .carousel-indicators {
  position: static;
  margin: 17px 0;
}

.news-carousel .carousel-indicators button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--carouselBtn);
  margin: 11px;
}

.news-carousel .carousel-control-prev,
.news-carousel .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  /* Dəqiqləşdir, lazım olmasa artıq kodları sil. */
  display: none;
}

.news-carousel .carousel-control-prev img,
.news-carousel .carousel-control-next img {
  display: block;
  width: 39px;
  height: 44px;
}

.news-carousel .carousel-control-next img {
  margin-left: 20px;
}

.news-carousel .carousel-control-prev img {
  margin-right: 20px;
}

.news-carousel .custom-arrow {
  pointer-events: none;
}

.news-carousel .carousel-item {
  transition: opacity 0.7s ease-in-out;
}

.news-carousel .carousel-item.active {
  opacity: 1;
}

.news-carousel .carousel-item:not(.active) {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::after {
  opacity: 0;
}

.progress-wrap::before {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 30px;
  background: var(--dateColor);
  background-color: var(--mailBg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap:hover::before {
  opacity: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

body .uwy.userway_p1 .userway_buttons_wrapper {
  top: 81% !important;
  right: 43% !important;
  bottom: auto !important;
  left: calc(100vw - 43px) !important;
  transform: translate(-100%);
} */
/* back to top end */
/*
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

ol,
ul {
  padding-left: 0rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.owl-dots {
  display: none;
} */

.e-services {
  margin: 17px auto;
  background-color: var(--bgColor);
  border: 1px solid var(--bgBorderColor);
  border-radius: 15px;
  width: 80%;
  padding: 7px 35px 26px;
}

.services-post-slide {
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding: 12px;
  width: 265px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--whiteColor);
  border: 1px solid var(--postSlideBorder);
}

#services-slider .owl-nav {
  display: block;
}

#services-slider .owl-nav button.owl-prev,
#services-slider .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
}

#services-slider .owl-nav button.owl-prev {
  left: -40px;
}

#services-slider .owl-nav button.owl-next {
  right: -40px;
}

#services-slider .owl-nav img {
  width: 39px;
}

.services-img {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
}

.services-carousel
  #services-slider
  .services-post-slide
  .post-content
  .post-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--menuColor);
  text-align: center;
}

#services-slider .owl-nav button.owl-prev,
#services-slider .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 30px;
  color: var(--newsColor);
}

#services-slider .owl-nav button.owl-prev {
  left: -3%;
}

#services-slider .owl-nav button.owl-next {
  right: -3%;
}

.e-services .owl-carousel .owl-item img {
  display: block;
  width: auto;
  height: 64px;
  height: 60px;
  margin-right: 20px;
}

.services-post-slide-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.services-carousel .owl-carousel .owl-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-services-title {
  font-size: 22px;
  font-weight: 400;
  color: var(--menuColor);
  margin-bottom: 10px;
}

.services-post-slide {
  transition: all 0.35s ease;
  overflow: hidden;
}

.services-post-slide:hover::before {
  left: 100%;
}

.services-post-slide:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-color: var(--menuColor);
}

.services-post-slide:hover .services-img {
  transition: 0.3s;
}

.services-post-slide:hover .post-title {
  color: var(--newsColor);
}

.services-post-slide-abs {
  z-index: 2;
}

/* news */

.news {
  margin: 13px auto;
  background-color: var(--bgColor);
  border: 1px solid var(--bgBorderColor);
  border-radius: 15px;
  width: 80%;
  padding: 14px 20px 18px;
}

.news .post-slide {
  padding-top: 1px;
  position: relative;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.news .post-slide:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.news .post-slide .post-img {
  margin: 0 auto;
  width: 100%;
  height: 249px;
  margin-left: 0;
  margin-bottom: -14px;
  border-radius: 15px;
  overflow: hidden;
  z-index: inherit;
}

.news .post-slide .post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s linear;
  /* border-radius: 15px; */
}

.news .post-slide .post-content {
  position: relative;
  padding: 21px 6px 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 4px solid var(--newsBorder);
}

.news .post-slide .post-title a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: var(--newsDateColor);
  transition: all 0.3s ease 0s;
  line-height: normal;
  padding: 0 6px;
  margin: 21px 0 30px;
}

.news .post-slide .post-title a:hover {
  text-decoration: none;
}

.news .news-date {
  float: right;
}

.news .post-slide .post-date {
  color: var(--newsDateColor);
  font-size: 12px;
  text-align: right;
  margin-top: auto;
}

.news .post-content::after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: -8px;
  width: 100%;
  height: 12px;
  background: url("../img/news-border.svg") no-repeat left bottom;
  background-size: contain;
}

.news .post-slide::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: var(--activeColor);
  transition: 0.3s;
}

.post-slide:hover::before {
  width: 100%;
}

.news .owl-nav,
.news .owl-dots {
  display: none;
}

.news .owl-stage {
  display: flex;
}

.news .owl-item {
  display: flex;
}

.news-more-wrapper {
  text-align: right;
  margin-top: 29px;
}

.news-more {
  color: var(--menuColor);
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  margin-right: 40px;
  transition: 0.3s;
}

.all-news-icon {
  margin-left: 10px;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.news-more:hover {
  color: var(--arrowColor);
}

.news-more:hover .all-news-icon {
  transform: translateX(8px);
  color: var(--arrowColor);
}

.useful-links-section {
  margin: 13px auto;
  background-color: var(--bgColor);
  border: 1px solid var(--bgBorderColor);
  border-radius: 15px;
  width: 80%;
  padding: 14px 20px 0;
}
.useful-links-section .owl-nav,
.useful-links-section .owl-dots {
  display: none;
}

.useful-links-slide {
  position: relative;
  margin: 55px 0;
  transition: all 0.35s ease;
}

#useful-links {
  margin: 44px 0 0;
}

.useful-links-img {
  width: 93px !important;
  height: 85px;
  border-radius: 50%;
  position: absolute;
  bottom: 76%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.35s ease;
  z-index: 3;
  background: var(--whiteColor);
  padding: 4px;
}

.useful-links-content {
  background: linear-gradient(
    0deg,
    rgba(133, 179, 209, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 94px;
  border-radius: 5px;
  transition: all 0.35s ease;
}

.useful-links-slide:hover .useful-links-img {
  transform: translate(-50%, -2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.useful-links-slide:hover .useful-links-content {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(133, 179, 209, 0.4)
  );
}

.useful-links-name {
  color: var(--menuColor);
  margin-top: 33px;
  font-size: 14px;
  font-weight: 400;
  /* font-family: var(--fontBasic); */
}

.useful-links-site {
  font-size: 12px;
  color: var(--usefulLinksColor);
  margin: 16px 0 12px;
  font-family: var(--fontBasic);
}

.useful-links-link {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.useful-links-name,
.useful-links-site {
  transition: 0.3s;
}

.useful-links-slide:hover .useful-links-name {
  color: var(--activeColor);
}

.useful-links-slide:hover .useful-links-site {
  color: var(--menuColor);
  text-decoration: underline;
}

.useful-links-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 0;
  height: 2px;

  background: var(--activeColor);
  transition: 0.3s;
}

.useful-links-slide:hover .useful-links-content::after {
  width: 100%;
  left: 0;
}
.transitions-title {
  margin-bottom: 17px;
}
.transitions-post-slide {
  width: 100%;
  background-color: var(--transitionBg);
  width: 342px;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.transition-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--transitionColor);
}
@media (max-width: 992px) {
  .news-carousel .carousel-title {
    width: 100%;
    bottom: 0;
  }
  .news-carousel .carousel-box img {
    height: auto;
  }
  .e-services,
  .news,
  .news-carousel,
  .useful-links-section {
    width: 100%;
    padding: 10px 0;
  }
  .transitions-post-slide {
    width: 100%;
    height: auto;
    max-height: 300px;
    padding: 20px;
    background-color: red;
  }
  .news-carousel .carousel-control-next img {
    margin-left: 32px;
    width: 30px;
    display: none;
  }
  .news-carousel .carousel-control-prev img {
    margin-right: 32px;
    width: 30px;
    display: none;
  }
}

@media (max-width: 768px) {
  .news .post-slide .post-img {
    width: 100%;
    max-height: 300px;
  }

  .news .post-slide .post-content {
    flex: 1;
  }

  .news .post-slide .post-title a {
    margin: 30px 0 0;
  }

  #services-slider .owl-nav img {
    width: 25px;
  }
}

@media (max-width: 576px) {
  .news .post-slide .post-img {
    width: 100%;
    height: auto;
  }

  .news .post-slide .post-content {
    flex: none;
  }
}
