:root {
  /* --navBg: rgba(155, 198, 226, 1); */
  --navBg: rgba(110, 158, 190, 1);
  /* --menuColor: rgba(35, 69, 94, 1); */
  --menuColor: rgba(0, 40, 70, 1);
  --fontNivea: "Nivea", sans-serif;
  --carouselBtn: rgba(139, 140, 137, 1);
  --arrowColor: rgb(37, 36, 36);
  --managementTextColor: #7d7987;
  --postSlideBg: rgba(246, 248, 250, 1);
  --postSlideBorder: rgba(235, 235, 235, 1);
  --newsDateColor: rgba(0, 0, 0, 0.65);
  --newsBorder: rgba(133, 179, 209, 1);
  --usefulLinksColor: rgba(48, 48, 48, 1);
  --whiteColor: rgba(255, 255, 255, 1);
  --managementBg: rgba(229, 236, 243, 1);
  --fontBasic: "Basic", sans-serif;
  --bgColor: rgba(246, 248, 250, 1);
  --bgBorderColor: rgba(235, 235, 235, 1);
  --transitionBg: rgba(133, 173, 200, 1);
  --transitionColor: rgba(0, 40, 70, 1);
  --requestBg: rgba(223, 231, 239, 1);
  --lawsColor: #299df0;
  --lawBg: #eef7ff;
  /* --dateColor: #585858;
    --whiteColor: rgba(255, 255, 255, 1);
    --announcementColor: rgba(2, 52, 96, 1);
    --activeTitle: #C11E1E;
    --titleAnnouncement: #414242;
    --listBg: #FFFFFF;
    --listColor: #076BA9;
    --postSlideBg: #F3EFEF;
    --currentOffer: #505051;
    --currentOfferNumber: #000000;
    --auctionDate: #818385;
    --auctionDateRed: #EB0B0B;
    --auctionMore: #1E8FF2;
    --auctionLink: #063B8A;
    --newsContent: #393929;
    --newsDate: #7A7A7A;
    --allNewsBg: #FFFDFD;
    --footerBg: #00284B;
    --subMenuFooter: #FFEEC6;
    --footerMenu: #E8ECF1;
    --lawsColor: #299DF0;
    --lawBg: #EEF7FF;
    --allLotsSearch: #79868F;
    --singleNewsTitle: #063B8A;
    --announcementColor: #373838;
    --contactFormTitle: #212121;
    --contactBorder1: #E0E7FF;
    --contactBorder2: #CFFAFE;
    --contactBorder3: #FAE8FF;
    --applicationBg: #59B970;
    --items: 3;
    --gap: 0.75rem;
    --border-xl: 20px;
    --border-m: 8px;
    --border-s: 6px;
    --accent-color: hsl(198, 86%, 53%);
    --fill-primary: hsl(204, 3%, 47%);
    --fill-active: hsl(204, 23%, 20%);
    --fill-disabled: hsl(204, 9%, 85%);
    --applicationColor: #F4F4F4;
    --priceColor: #464646;
    --noteColor: #D91919;
    --noteText: #242222;
    --accordionBg: #F5F5F5;
    --stateColor: #A8A1A1;
} */
}
