:root {
  --navBg: rgba(182, 201, 224, 1);
  --menuColor: rgba(35, 69, 94, 1);
  --fontNivea: "Nivea", sans-serif;
  --carouselBtn: rgba(139, 140, 137, 1);
  --arrowColor: rgb(37, 36, 36);
  --managementTextColor: #7d7987;
  --postSlideBg: rgba(246, 248, 250, 1);
  --newsDateColor: rgba(0, 0, 0, 0.65);
  --newsBorder: rgba(133, 179, 209, 1);
  --usefulLinksColor: rgba(48, 48, 48, 1);
  --whiteColor: rgba(255, 255, 255, 1);
  --managementBg: rgba(229, 236, 243, 1);
  --fontBasic: "Basic", sans-serif;
  --bgColor: rgba(246, 248, 250, 1);
  --bgBorderColor: rgba(235, 235, 235, 1);
  --transitionBg: rgba(197, 217, 242, 1);
  --transitionColor: rgba(35, 69, 94, 1);
  --requestBg: rgba(223, 231, 239, 1);
  --lawsColor: #299df0;
  --lawBg: #eef7ff;
  --searchColor: #23455e;
  --transitionsBg: rgba(221, 229, 238, 1);
  --barYes: rgba(121, 172, 59, 1);
  --barNo: rgba(172, 59, 59, 1);
  --blackColor: rgba(0, 0, 0, 1);
  --clapBg: rgba(68, 127, 170, 1);
  --servicesBg: rgba(250, 252, 255, 1);
  --transitionColor2: rgba(0, 40, 70, 1);
}
